---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
from pandas import DataFrame

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    d = []
    with open('university_towns.txt') as file:
        for line in file:
            if 'edit' in line:
                k = line.strip().partition('[')[0]
            else:
                v = line.strip().partition(' (')[0]
                d.append([k, v])
    df = DataFrame(d, columns=["State", "RegionName"])

    return df

get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [4]:
import pandas as pd

def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    economy = pd.read_excel('gdplev.xls', skiprows = 220, usecols = [4, 5], names = ['Quarter', 'GDP']).set_index('Quarter')
    l = []

    for j in range(3, len(economy.index)):
        if (economy.iloc[j-2]['GDP'] > economy.iloc[j - 3]['GDP']) \
        & (economy.iloc[j-1]['GDP'] < economy.iloc[j - 2]['GDP']) \
        & (economy.iloc[j]['GDP'] < economy.iloc[j - 1]['GDP']):
            l.append(economy.index[j-2])
        
    return ''.join(l)

print(type(get_recession_start()))
print(get_recession_start())

<class 'str'>
2008q3

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    economy = pd.read_excel('gdplev.xls', skiprows = 220, usecols = [4, 5], names = ['Quarter', 'GDP']).set_index('Quarter')
    start = get_recession_start()
    n = economy.loc[start:, :]
    for j in range(3, len(n.index)):
        if (n.iloc[j-2]['GDP'] < n.iloc[j - 3]['GDP']) \
        & (n.iloc[j-1]['GDP'] > n.iloc[j - 2]['GDP']) \
        & (n.iloc[j]['GDP'] > n.iloc[j - 1]['GDP']):
            return n.index[j]

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    economy = pd.read_excel('gdplev.xls', skiprows = 220, usecols = [4, 5], names = ['Quarter', 'GDP']).set_index('Quarter')
    start = get_recession_start()
    end = get_recession_end()
    
    return economy.loc[start:end, 'GDP'].idxmin()
#get_recession_bottom()

In [7]:
from pandas import DataFrame

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    d = {}
    for i in range(2000, 2017):
        for j in ["{:02d}".format(x) for x in range(1, 13)]:
            if j in ["{:02d}".format(x) for x in range(1, 4)]:
                v = str(i) + 'q1'
                k = str(i) + '-' + str(j)
                d[k] = v
            elif j in ["{:02d}".format(x) for x in range(4, 7)]:
                v = str(i) + 'q2'
                k = str(i) + '-' + str(j)
                d[k] = v
            elif j in ["{:02d}".format(x) for x in range(7, 10)]:
                v = str(i) + 'q3'
                k = str(i) + '-' + str(j)
                d[k] = v
            elif j in ["{:02d}".format(x) for x in range(10, 13)]:
                v = str(i) + 'q4'
                k = str(i) + '-' + str(j)
                d[k] = v
    cols = [x for x in range(51, 251)]
    cols.insert(0, 2)
    cols.insert(0, 1)

    df = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = cols).replace({'State': states}).set_index(['State', 'RegionName'])
                
    return df.groupby(by=d, axis = 1).mean() 

#convert_housing_data_to_quarters()
convert_housing_data_to_quarters().loc["Texas"].loc["Austin"].loc["2010q3"]

202266.66666666666

In [8]:
from scipy import stats
import sys
import numpy as np
np.set_printoptions(threshold=sys.maxsize)

def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    start = get_recession_start()
    bottom = get_recession_bottom()

    house = convert_housing_data_to_quarters()
    house.loc[:, start:bottom]

    uTowns = get_list_of_university_towns().values.tolist()
    uIndex = house.index.isin(uTowns)
    uHouse = house.loc[uIndex, start:bottom].mean()
    oHouse = house.loc[~uIndex, start:bottom].mean()

    _, p = stats.ttest_ind(uHouse, oHouse)

    if p > 0.01:
        different = True
    else:
        different = False

    uloss = (uHouse.max() - uHouse.min()) / uHouse.max()
    oloss = (oHouse.max() - oHouse.min()) / oHouse.max()
    if uloss < oloss:
        better = "university town"
    else:
        better = "non-university town"
    
    return (different, p, better)

run_ttest()
#uIndex

(False, 0.00011951878869097836, 'university town')